.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 420px;
    justify-content: center;
}

.item {
    width: 160px;
    height: 160px;
    border-radius: 15px;
    border: 1px solid black;
}

.item .imageDrag {
    background-image: url('../image/aca55a7350d4948acdc5.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    border: none;

}

.item.hovered {
    /* border: 5px dotted rgb(7, 175, 57); */
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.card {
    /* width: 190px; */
    flex: 1 1 150px;
    height: 150px;
    max-width: 150px;
    background: rgb(0, 183, 255);
    display: flex;
    flex-direction: column;
    position: relative;
    place-content: center;
    overflow: hidden;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
}

.card::before {
    content: "";
    position: absolute;
    width: 156px;
    background-image: linear-gradient(100deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 160px;
    animation: rotBGimg 3s infinite;
    transition: all 0.2s linear;
}

.card::after {
    content: "";
    position: absolute;
    background: linear-gradient(100deg, rgb(197, 12, 151), rgb(248, 244, 4));
    inset: 5px;
    border-radius: 15px;
}